.toursContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toursContainer h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: var(--text-default);
}

.tourCardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  margin: 10px auto;
  max-width: 1200px;
}

.tourCards {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 350px;
  display: flex;
  justify-content: stretch;
}

.tourCard {
  height: min-content;
  margin: 20px;
  max-width: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 780px) {
  .tourCardsContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tourCard {
    max-width: calc((130vw) / 3);
  }
}
