.transfersContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--text-inverse);
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 10px;
    padding-bottom: 8px
}

.transfer {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    align-items: center;
    font: var(--font);
}

.transfersContainer p:not(.price) {
    margin: 0px
}

.price {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
}