.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-inverse);
  color: var(--text-inverse);
  padding: 20px auto;
  width: 100vw;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.footerTop * {
  color: var(--text-inverse);
}

.footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 20px;
  }
}