.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-inverse);
  color: var(--text-inverse);
  padding: 20px auto;
  width: 100vw;
}

.footerColumns {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}