@font-face {
  font-family: 'QuartzoBold';
  /* Provide a unique name for your font */
  src: url('/fonts/QuartzoBold.ttf') format('truetype');
  font-weight: 900;
  font-style: bold;
}

.heroContainer {
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  width: 100vw;
  object-fit: contain;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.heroVideo {
  width: 100%;
}

.heroImage {
  padding: 10px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 580px) {
  .heroContainer {
    align-items: center;
    background-position: center;
  }

  .bookTourButton {
    width: 250px;
    transition: width ease-in-out 0.2s ease-in-out;
  }
}
