.bookingFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    padding: 0 10px;
}

.bookingFormContainer form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.bookingFormContainer label {
    color: var(--button-outline-active-border);
    font-weight: 500;
}

.bookingFormContainer input {
    width: 100%;
    color: var(--button-outline-active-border);
    margin: 5px;
    padding: 15px 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--background-secondary);
}

.bookingFormContainer input:focus {
    appearance: textfield;
    outline: 1px var(--button-outline-active-border) solid;
}

.bookingFormContainer input[type=number]::-webkit-inner-spin-button,
.bookingFormContainer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.bookingFormContainer input::placeholder {
    color: rgba(6, 70, 7, 0.319);
    font-weight: 500;
}