.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main video * {
  background: var(--background-end-rgb);
  border: none;
  box-shadow: none;
  outline: none;
}