.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main video {
  background: var(--background-end-rgb);
  border: none;
  box-shadow: none;
  outline: none;
  filter: none;
}

.video {
  cursor: initial;
  pointer-events: none;
}