.bookingOptions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.bookOption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid;
  border-radius: 8px;
}

.calendar>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100vw;
}

.calendar button:is(:focus, :active) {
  box-shadow: 1px 1px 1px var(--shadow), -1px -1px 1px var(--shadow);
  background-color: var(--button-primary-active-bg) !important;
  color: var(--button-primary-typo) !important;
  border: 1px solid var(--button-primary-active-border) !important;
  border-radius: 5px;
}

.calendar button[class*='react-calendar__month-view__days__day--neighboringMonth'] {
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-primary-active-bg);
}

.calendar button:hover {
  background-color: var(--button-primary-active-bg) !important;
  color: var(--button-primary-typo) !important;
  border: 1px solid var(--button-primary-active-border) !important;
}

.calendar button:disabled,
.calendar button:disabled:hover {
  background-color: var(--button-disabled-bg) !important;
  color: var(--button-disabled-typo) !important;
  cursor: not-allowed;
}

.calendar div {
  font: 600 16px var(--primary-font);
  text-align: center;
}

@media screen and (min-width: 780px) {
  .bookingOptions {
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
  }

  .bookOption {
    max-width: 200px;
    padding: 10px;
  }

  .calendar {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .times {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
  }

  .paypal {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.calendar button {
  background-color: var(--button-secondary-background);
  margin: 10px auto;
  padding: 10px;
  color: var(--button-secondary-typo) !important;
  outline: none;
}

.bookingDetailsTable table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.bookingDetailsTable * {
  padding: 5px 10px;
  text-align: start;
}

.bookingDetailsTable th {
  background-color: var(--background-secondary);
}


.successContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: var(--background-secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 200vw var(--shadow);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}