.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px auto;
  margin-top: 40px;
  width: 100%;
  background-color: var(--background-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form label {
  width: 50%;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid var(--button-outline-active-border);
  border-radius: 6px;
}
