.servicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px auto;
    width: 100vw;
}

.servicesTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: var(--primary-color);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fill-available;

}

.card {
    height: min-content;
    width: fit-content;
    flex-grow: 1;
    flex-basis: 250px;
    margin: 20px;
}