.button {
    cursor: pointer;
    border: transparent solid 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px 20px;
    margin: 10px;
    outline: 2px solid transparent;
}

.primary {
    font: var(--primary-button-font);
    background-color: var(--button-primary-bg);
    color: var(--button-primary-typo);
    font-size: medium;
}

.primary:hover {
    background-color: var(--button-primary-hover-bg);
    outline: 1px solid var(--button-outline-hover-border);
    transition: background-color 0.2s ease;
}

.primary:focus,
.primary:active {
    background-color: var(--button-primary-active-bg);
    color: black;
    transition: background-color 0.2s ease;
}

.secondary {
    font: var(--secondary-button-font);
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-typo);
    border: var(--button-secondary-outline-border) 3px solid;
    outline: var(--button-secondary-outline-border) 1px transparent;
}

.secondary:hover {
    background-color: var(--button-secondary-hover-bg);
    border: var(--button-outline-hover-border) 3px solid;
    transition: background-color 0.2s ease-in-out;
    outline: var(--button-secondary-outline-border) 1px solid;
}

.link {
    position: relative;
    text-decoration: none;
    color: var(--link-color);
    font-size: medium;
    font-weight: 450;
    padding: 5px 10px;
}

.link:hover {
    color: var(--button-primary-bg);
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent 0%, var(--button-primary-bg) 40%);
    transition: width 0.3s ease;
}

.link:hover::before {
    width: 100%;
}

.tourButton {
    font-size: large;
    margin: 10px;
}