.button {
    cursor: pointer;
    border: transparent solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
}

.primary {
    background-color: green;
    color: white;
    font-size: medium;
}

.primary:hover {
    background-color: rgba(0, 128, 0, 0.39);
    border: green 1px solid;
    color: black;
    transition: background-color 0.4s ease-in-out;
}

.secondary {
    background-color: white;
    color: black;
    font-size: medium;
    border: green 1px solid;
}

.secondary:hover {
    background-color: rgba(0, 128, 0, 0.39);
    border: green 1px solid;
    color: white;
    transition: background-color 0.4s ease-in-out;
}

.link {
    position: relative;
    text-decoration: none;
    color: rgba(0, 128, 0, 0.9);
    font-size: medium;
    font-weight: 450;
    padding: 5px 10px;
}

.link:hover {
    color: green;
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent 0%, green 40%);
    transition: width 0.3s ease;
}

.link:hover::before {
    width: 100%;
}

.tourButton {
    font-size: large;
    margin: 10px;
}