  .cardContainer {
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 70vw;
      height: 500px;
  }

  .image {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      object-fit: contain;
      padding: 10px;
      width: inherit;
      height: 300px;
  }

  .title {
      font-size: 1em;
      color: white;
      background-color: var(--button-color);
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      height: 70px;
      font-size: 1.6em;
  }

  .description {
      font-size: 1em;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      border-radius: 0 0 10px 10px;
  }

  .price {
      font-size: 0.7em;
      margin: 10px;
      align-self: end;
      font-weight: 600;
  }

  @media screen and (min-width: 900px) {
      .cardContainer {
          margin: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 250px;
          height: 450px;
      }

      .image {
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          object-fit: contain;
          padding: 10px;
          width: inherit;
          height: 200px;
      }

      .title {
          font-size: 1em;
          color: white;
          background-color: var(--button-color);
          width: 100%;
          box-sizing: border-box;
          margin: 0;
          padding: 10px;
          border-radius: 10px 10px 0 0;
          height: 65px;
          font-size: 1.2em;
      }

      .description {
          font-size: 1em;
          width: 100%;
          box-sizing: border-box;
          margin: 0;
          padding: 10px;
          border-radius: 0 0 10px 10px;
      }

  }

  .cardSkeleton {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 250px;
      height: 400px;
      background-image: linear-gradient(100deg, rgb(227, 222, 222), white, rgb(214, 214, 214)),
          linear-gradient(100deg, rgb(227, 222, 222), white, rgb(214, 214, 214)),
          linear-gradient(100deg, rgb(227, 222, 222), white, rgb(214, 214, 214)),
          linear-gradient(100deg, rgb(227, 222, 222), white, rgb(214, 214, 214));
      background-size: 150px 30px, 250px 200px, 230px 100px, 70px 20px;
      background-position: 10px 10px, 0 50px, 10px 260px, 160px 370px;
      background-repeat: no-repeat;
      position: relative;
  }

  .cardSkeleton::before {
      content: '';
      width: 80px;
      height: 400px;
      position: absolute;
      background: linear-gradient(white, whitesmoke);
      animation: shine 1s linear infinite;
      mix-blend-mode: hard-light;
      border: none;
      outline: none;
      box-shadow: none;
      mix-blend-mode: soft-light;
      background-repeat: repeat-x;

  }

  @keyframes shine {
      0% {
          left: -30px;
      }

      100% {
          left: 180px;
      }
  }

  .iconCardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      width: 200px;
      border: solid 1px var(--button-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border: solid 1px var(--button-color);
  }

  .cardIcon {
      font-size: 2em;
      color: var(--button-color);
      padding: 20px 40px;
  }

  .iconCardTitle {
      white-space: nowrap;
      font: inherit;
      font-size: large;
      text-align: center;
      font-weight: 500;
      padding: 10px;
  }