  .cardContainer {
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px var(--shadow);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 350px;
      max-height: 500px;
      position: relative;
  }

  .image {
      border-radius: 10px 10px 0 0;
      box-shadow: solid 3px var(--shadow);
      max-height: 200px;
      width: 100%;
  }

  .button {
      padding: 0.2em 1em;
      font-weight: 400;
      text-shadow: 0.7px 0 0 black;
      width: 100%;
  }

  .title {
      font-size: 1em;
      padding: 10px;
      border-radius: 0 30px 0 0;
      font: var(--primary-button-font);
      background-color: rgba(245, 245, 245, 0.561);
      position: absolute;
      top: 152px;
      left: 0;
      text-wrap: nowrap;
  }

  .description {
      font-size: 1em;
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      border-radius: 0 0 10px 10px;

  }

  .price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1em;
      margin: 10px;
      font-weight: 400;
      width: 100%;
      padding-right: 10px;
  }

  .priceSpan {
      padding: 5px;
      font-size: larger;
      font-weight: bold;
  }

  .cardSkeleton {
      border-radius: 10px;
      box-shadow: 0 0 10px var(--shadow);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 250px;
      height: 400px;
      background-image: linear-gradient(100deg, rgb(227, 222, 222), var(--background-default), rgb(214, 214, 214)),
          linear-gradient(100deg, rgb(227, 222, 222), var(--background-default), rgb(214, 214, 214)),
          linear-gradient(100deg, rgb(227, 222, 222), var(--background-default), rgb(214, 214, 214)),
          linear-gradient(100deg, rgb(227, 222, 222), var(--background-default), rgb(214, 214, 214));
      background-size: 150px 30px, 250px 200px, 230px 100px, 70px 20px;
      background-position: 10px 10px, 0 50px, 10px 260px, 160px 370px;
      background-repeat: no-repeat;
      position: relative;
  }

  .cardSkeleton::before {
      content: '';
      width: 80px;
      height: 400px;
      position: absolute;
      background: linear-gradient(var(--background-default), var(--background-secondary));
      animation: shine 1s linear infinite;
      mix-blend-mode: hard-light;
      border: none;
      outline: none;
      box-shadow: none;
      mix-blend-mode: soft-light;
      background-repeat: repeat-x;

  }

  @keyframes shine {
      0% {
          left: -30px;
      }

      100% {
          left: 180px;
      }
  }

  .iconCardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--background-default);
      width: 200px;
      box-shadow: 0 0 10px var(--shadow);
      border-radius: 10px;
      border: solid 1px var(--button-outline-active-border);
  }

  .cardIcon {
      font-size: 2em;
      color: var(--button-primary-bg);
      padding: 20px 40px;
  }

  .iconCardTitle {
      white-space: nowrap;
      text-align: center;
      padding: 10px;
      font: var(--secondary-button-font)
  }