.container {
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  align-items: center;
}

.myItemsContainer {
  padding: 10px 20px;
}

.bookingsList {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.bookingsList li:nth-child(1) {
  background-color: var(--background-secondary);
  padding: 10px;
}
