.cookieBanner {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.cookieText {
    margin-bottom: 5px;
}

.cookieLink {
    color: var(--button-secondary-typo);
}

.hideButton {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.hideButton:hover {
    background-color: #777;
}