.navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);

}

.navbarLinksContainer {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}