.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftPanel {
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: baseline;
    border: 2px solid var(--button-outline-active-border);
    border-radius: 10px;
    padding: 10px;
}

.leftPanel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: stretch;
    align-items: baseline;
    min-width: 500px;
}

.leftPanel form div {
    display: flex;
    flex-direction: column;


}

.leftPanel form input {
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--button-outline-active-border);
    background-color: var(--background-secondary);
    color: var(--text-default);
}